<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Cadastro de novo cliente</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <style type="text/css">
 	body {
	margin-left: 5%;
	margin-right: 5%;
}
 </style>
</head>
<body>

	<h5 style="text-align: center;">Novo cliente</h5>
	<br />
	<fieldset>
		<legend>Cadastro de novo cliente</legend>
	  	<div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GERENTE')">		
	
			<form class="col s12" action="salvarcliente" method="post" th:object="${clienteobj}" id="formcliente">
			
			
			
			<div th:each="m : ${msg}">
				<span th:text="${m}"> </span>
			</div>
			<br />
			
		      <div class="row">
		        <div class="input-field col s1">
		<!--           <label>Ordem de Serviço</label> -->
				  <i class="material-icons prefix">fingerprint</i>
		          <input name="id" th:field="*{id}" readonly="readonly">
		        </div>  
		      </div>      
		      
		      <div class="row">
		        <div class="input-field col s6">
		          <i class="material-icons prefix">account_circle</i>
		          <input name="nome" id="nome" type="text" class="validate" th:field="*{nome}">
		          <label for="nome">Nome</label>
		        </div>  
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s6">
		          <i class="material-icons prefix">home</i>         
		          <input name="endereco" id="endereco" type="text" class="validate" th:field="*{endereco}">
		          <label for="endereco">Endereço</label>
		        </div>  
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s6">
		          <i class="material-icons prefix">phone</i>
		          <input name="telefone" id="telefone" type="text" class="validate" th:field="*{telefone}">
		          <label for="telefone">Telefone</label>
		        </div>  
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s6">
		          <i class="material-icons prefix">mail_outline</i>
		          <input id="email" type="email" class="validate" th:field="*{email}">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s6">
		          <i class="material-icons prefix">laptop_mac</i>
		          <input name="equipamento" id="equipamento" type="text" class="validate" th:field="*{equipamento}">
		          <label for="equipamento">Equipamento (marca/modelo)</label>
		        </div>  
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s12">
		          <i class="material-icons prefix">build</i>
		          <input name="problema" id="problema" type="text" class="validate" th:field="*{problema}" >
		          <label for="problema">Problema</label>
		        </div>  
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s3">
		          <i class="material-icons prefix">date_range</i>
		          <input name="entrada" id="entrada" type="date" placeholder="Data de entrada do equipamento" th:field="*{entrada}" >
		          <label for=entrada class="active">Entrada</label>
		        </div> 
		        
		        <div class="input-field col s3">
		          <i class="material-icons prefix">date_range</i>
		          <input name="saida" id="saida" type="date" placeholder="Data de saida do equipamento" th:field="*{saida}" >
		          <label for=saida class="active">Saída</label>
		        </div>
		        
		        <div class="input-field col s3">
			        <label for="situacao" class="active">Selecione</label>
					  <select class="browser-default" th:field="*{situacao}">
<!-- 					    <option value="" disabled selected>Situação</option> -->
					    <option value="1">Em aberto</option>
					    <option value="2">Resolvido</option>
					    <option value="3">Não resolvido</option>
					  </select>
				 </div>
		      </div>
		
				<button class="btn waves-effect waves-light" type="submit"	name="action">Salvar 
					<i class="material-icons right">send</i>
				</button>
				
				<button class="btn waves-effect waves-light" onclick="document.getElmentById('formcliente').reset();" name="action">
					Limpar 
				</button>
				<br> <br>
			</form>    
	  	</div>
  	</fieldset>

	
	<fieldset>
		<legend>Campo de pesquisa</legend>
		<div class="row">
			<form class="col s12" method="post" action="pesquisarcliente">			
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">search</i>
			            <label for="nomepesquisa" class="active">Pesquia por nome:</label>
						<input name="nomepesquisa" id="nomepesquisa" type="text" class="validate" 
						th:value="${nomepesquisa}">
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar 
					<i class="material-icons right">search</i>
				</button>
				<a class="btn waves-effect waves-light" href="/listaclientes">Listar Todos</a><br><br>
			</form>
		</div>
	</fieldset>

	<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
		<div class="col s12">
			<table class="striped">
		        <tbody>
		          <tr th:each = "cliente : ${clientes}">
		           <td th:text = "${cliente.id}"></td>
					<td><a th:href="@{/detalhecliente/{idcliente}(idcliente=${cliente.id})}"><span th:text = "${cliente.nome}"></span></a></td>
<!-- 					<td th:text = "${cliente.endereco}"></td> -->
					<td th:text = "${cliente.telefone}"></td>
					<td th:text = "${cliente.email}"></td>
					<td th:text = "${cliente.equipamento}"></td>
<!-- 					<td th:text = "${cliente.problema}"></td> -->
					<td><a th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}">Editar</a></td>
					<td><a th:href="@{/excluircliente/{idcliente}(idcliente=${cliente.id})}">Excluir</a></td>
		          <tr>
		        </tbody>
		      </table>
	      </div>
      </div>
	 
	 <footer class="page-footer">
	     <div class="footer-copyright">
	       <div class="container">
	       	© 2020 João Paulo da Mata Mendes
	       </div>
	     </div>
      </footer>
      
      
</body>
</html>